apiVersion: cloud.google.com/v1
kind: BackendConfig
metadata:
  name: backend-health-config
spec:
  healthCheck:
    checkIntervalSec: 10
    timeoutSec: 5
    healthyThreshold: 1
    unhealthyThreshold: 3
    type: HTTP
    requestPath: /health
    port: 5000
  timeoutSec: 600
  connectionDraining:
    drainingTimeoutSec: 60

